@import "reset";

$settings: (width: 100%, box-width: 150px, breakpointers: "(max-width : 640px)");

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin media($queryString) {
  @media #{$queryString} {
    @content;
  }
}

.flex-container {
  width: map-get($settings, "width");
  margin: 0 auto;
}

.flex-container * {
  @include box-sizing;
}

.flex-row {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;

  .box {
    width: map-get($settings, "box-width");
    text-align: center;
    border: 1px solid #f00;

    &.item1 {
      height: 120px;
    }

    &.item2 {
      height: 100px;
    }

    &.item3 {
      height: 40px;
    }

    &.item4 {
      height: 200px;
      border: 1px solid #0f0;
    }
  }
}
@include media(map-get($settings, "breakpointers")) {
  .flex-row {
    align-content: flex-start;

    .box {
      align-items: flex-start;

      &.item4 {
        order: -1;
        margin-bottom:20px
      }
    }
  }
}