html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
img {
  vertical-align: top;
}
input, select, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  box-shadow: none;
}
html {
  word-wrap: break-word;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body, html {
  height: 100%;
}
.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-container * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.row {
  padding: 10px;
  display: flex;
}
.row .box {
  margin: 10px;
  width: 150px;
  text-align: center;
  border: 1px solid #f00;
}
.row .box.item1 {
  height: 120px;
}
.row .box.item2 {
  height: 100px;
}
.row .box.item3 {
  height: 40px;
}
.row .box.item4 {
  height: 200px;
  border: 1px solid #0f0;
}
@media (min-width:640px) {
  .row {
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .row .box {
    align-self: center;
  }
}
@media (max-width:640px) {
  .row {
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .row .box {
    align-items: flex-start;
  }
  .row .box.item4 {
    order: -1;
  }
}