html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

ol, ul { list-style: none; }

img { vertical-align: top; }

input, select, textarea { margin: 0; padding: 0; font-size: 100%; font: inherit; tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; outline: 0; box-shadow: none; }

html { word-wrap: break-word; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body, html { height: 100%; }

.grid-container { width: 100%; max-width: 1200px; margin: 0 auto; }

.grid-container * { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.row { padding: 0 10px; }
.row:before, .row:after { content: ""; display: table; clear: both; }

[class*='col-'] { float: left; min-height: 1px; width: 16.66%; padding: 10px; }
[class*='col-'] > p { background-color: #eee; padding: 0; margin: 0; text-align: center; color: #000; height: 50px; }
.outline [class*='col-'] > p { border: 1px solid #999; }

@media (min-width: 768px) { .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; } }
@media (max-width: 768px) { .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; } }
